
arm/Makefile

arm/Makefile

*.Debug

arm/Makefile.Debug

arm/Makefile.Release

*.ts

*.ts

translations/TestProj1.ts

translations/TestProj1_de.ts

translations/TestProj1_en_GB.ts

translations/TestProj1_es.ts

translations/TestProj1_fr.ts

translations/TestProj1_it.ts

x86/Makefile

x86/Makefile.Debug

x86/Makefile.Release
